<a href="https://colab.research.google.com/github/Nivedita-24/Text_Mining-NLP/blob/main/data_extraction_onlinelearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Extraction

### Installing required libraries

In [ ]:
#pip install tweepy
#pip uninstall tweepy
#pip install git+https://github.com/tweepy/tweepy.git
#pip install git+https://github.com/JustAnotherArchivist/snscrape.git
#conda install -c conda-forge emoji

### Importing required libraries

In [ ]:
import tweepy
import snscrape.modules.twitter as sntwitter
import csv
import pandas as pd
import re
import emoji

### Twitter Authorization

In [ ]:
mykeys = open('t_keys.txt', 'r').read().splitlines()

# Twitter API credentials
api_keys = mykeys[0]
api_secret_key = mykeys[1]
access_token = mykeys[2]
access_token_secret = mykeys[3]

# Creating Authorization
auth = tweepy.OAuthHandler(consumer_key=api_keys, consumer_secret = api_secret_key)

# Set access token and access token secret keys
auth.set_access_token(access_token, access_token_secret)

# Creating API object while passing in the authorizatoin information
api = tweepy.API(auth, wait_on_rate_limit = True)

### Data Cleaning

In [ ]:
# Creating csv file
ol_csv = open('onlinelearning_raw_data.csv', 'a', newline='', encoding='utf8')

# Writing to created csv file
csvWriterOL = csv.writer(ol_csv)
csvWriterOL.writerow(['ID', 'Date', 'Tweet'])

# Tweets from 1st March 2020 to 31st October 2021
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#onlinelearning + lang:en since:2020-03-01 until:2021-10-31').get_items()):   
    csvWriterOL.writerow([tweet.id, tweet.date, tweet.content])
                                                        
ol_csv.close()

In [ ]:
# Creating a data frame using the data in the csv file
ol_df = pd.read_csv('onlinelearning_raw_data.csv')

In [ ]:
# Removing the tweets which contains 'http' as those tweets are advertisements
ol_df = ol_df[~ol_df.Tweet.str.contains("http")]

In [ ]:
# Removing user names from each tweet
ol_df['Tweet'] = ol_df['Tweet'].apply(lambda x: ' '.join(re.sub("(@[A-Za-z0-9]+)", "", x).split()))

In [ ]:
# Removing Hashtags
ol_df['Tweet'] = ol_df['Tweet'].apply(lambda x: ' '.join(re.sub("(#[A-Za-z0-9]+)", "", x).split()))

In [ ]:
# Creating a final csv file with cleaned data
ol_df.to_csv('onlinelearning_cleaned_data_latest.csv')

In [ ]:
ol_df

,ID,Date,Tweet
2,1454594698614562821,2021-10-30 23:42:55+00:00,"All Green STARS on ! Every lesson, every unit!..."
41,1454485143037546497,2021-10-30 16:27:35+00:00,each week and then pass over to the children T...
42,1454481924928389123,2021-10-30 16:14:48+00:00,Why did you consider a profession of teacher?
85,1454430596613099520,2021-10-30 12:50:50+00:00,"Read from ALL sources Remember, the test will ..."
88,1454429071580930048,2021-10-30 12:44:47+00:00,Answer ALL questions There is no negative mark...
...,...,...,...
322657,1234128123668652034,2020-03-01 14:47:28+00:00,Into the world of remote online Learning due t...
322658,1234124888652341248,2020-03-01 14:34:37+00:00,Many teachers in Ontario are using asynchronou...
322671,1234085800070934528,2020-03-01 11:59:17+00:00,"Closed b/c of COVID-19? Check out FB group ""In..."
322703,1233928775034974208,2020-03-01 01:35:19+00:00,So agree with you. It’s all about journey
322704,1233904873386717185,2020-03-01 00:00:21+00:00,Calsouthern let's you start your courses anyti...